.footerCards {
  align-items: center;
  display: flex;
  gap: 13px;
}

.footerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  height: 78px;
  padding: 61px 30px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: left;
  transition: transform 0.2s ease;
}

.footerCard:hover {
  transform: scale(1.06);
}

h3 {
  margin: 0 0 10px 0;
  color: #fff;
  font-size: 30px;
  font-weight: 1000;
  line-height: 40px;
}

p {
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
