.container {
  padding: 20px;
  background-color: #f8f9fa;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.leftButtons {
  display: flex;
  gap: 20px;
}

.menuIcon,
.notificationIcon {
  font-size: 24px;
  cursor: pointer;
}

.main {
  text-align: center;
}

.rowcontainer {
  justify-content: center;
  display: flex;
  padding: 20px;
  gap: 20px;
}

.date {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.navButton {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.iconImage {
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  width: 60px;
  height: 60px;
}

.carouselItems {
  display: flex;
  gap: 10px;
}

.carouselItem {
  width: 30px;
  height: 30px;
  background-color: #d1d1d1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselItem.active {
  background-color: black;
  color: white;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.tabButton {
  display: flex;
  border: none;
  border-radius: 100px;
  background: #eaeaea;
  width: 135px;
  padding: 0px 21px;
  justify-content: center;
  color: #494949;
  font-size: 15px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.45px;
}

.notes {
  display: flex;
  width: 803px;
  height: 353px;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 50px;
  background: #fff;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footerCards {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footerCard {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-align: left;
}

.pinkCard {
  background-color: #ff69b4;
}

.purpleCard {
  background-color: #9370db;
}

.charactor {
  position: relative;
  background-image: url("../../assets/images/charEgg.png");
  background-size: cover;
  background-position: center;
  min-width: 258px !important;
  padding: 0 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.characterImage {
  width: 100%;
}

.lightImage {
  animation: swing 2s infinite ease-in-out;
  transform-origin: top center;
}

@keyframes swing {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}

.advertise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 290px;
  height: 78px;
  padding: 61px 30px;
  border-radius: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: left;
  transition: transform 0.2s ease;
}

.advertise:hover {
  transform: scale(1.06);
}
