@import url("https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css");

body {
  margin: 0;
  font-family: "NanumSquareRound";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "yg-jalnan";
  src: url(./assets/fonts/Jalnan2.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url(./assets/fonts/Pretendard-Bold.otf);
  font-weight: 400;
  font-style: normal;
}
